body {
	font-family: 'Source Code Pro';
	color: #ffffff;
	background-color: #232323;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section { margin: 30px auto 30px auto; max-width: 500px; }

#pres {
	display: block;
	position: relative;
	margin: auto;
	/* margin-bottom: 72vh; */
	font-size: 1rem;
	text-align: center;
	margin: 0px 10px 0px 10px;
}
#pres > img { opacity: 74%; }

#header { text-align: center; }
#header h1 { font-size: 16px; }

#img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
}
#img img {
	display: block;
	border-radius: 25px;
	border: 0.5px solid black;
	width: 95px;
	height: 95px;
}

#gallery { text-align: center; width: inherit; }
#gallery .gallery-wrapper {
	display: grid;
	grid-template-columns: repeat(3, calc(500px / 3));
	grid-template-rows: repeat(2, calc(500px / 2));
}
#gallery .gallery-item {
	margin: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"gimg gimg"
		"gimg gimg"
		"gdesc gdesc"
	;
}
#gallery .gallery-image-container { width: 100%; max-height: 100%; grid-area: gimg; }
#gallery img {
	object-fit: cover;
	width: inherit;
	height: 100%;
	max-height: 100%;
	margin: auto 0px;
}
#gallery .gallery-item p { grid-area: gdesc; font-size: .8rem; max-width: 99%;}

#links {
	font-size: 13px;
	display: block;
	width: auto;
	text-align: center;
	margin: -5px auto 20px auto;
}

.grid-wrapper { display: grid; }

#links .grid-wrapper {
	grid-template-columns: repeat(3, 1fr);
	row-gap: 1rem;
}

a { font-size: .9rem; color: #ef9500; }
a:hover { color: #ab7300; }

#underline {
	width: 17rem;
	height: 15px;
	position: absolute;
	top: 50px;
	left: 140px;
}
#lolnerd {
	width: 70px;
	height: auto;
	position: absolute;
	top: 20px;
	right: -80px;
}

hr { width: 50%; font-weight: 1px; margin: 80px auto 60px auto; }

#cv {
	position: relative;
	max-width: 600px;
	padding: 20px 40px 20px 40px;
	border: 1px double white;
}
#cv-header h1 { text-align: center; }
#cv-me {
	display: grid;
	width: 70%;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(3, 40px);
	grid-template-areas:
		"img name name"
		"img mail mail"
		"img phone phone"
	;

	margin: 20px auto 20px auto;
}

#cv-me .photo-grid-cell {
	width: 100%;
	height: 100%;
	margin: auto;
	background: white;
}
#cv-me .photo-grid-cell > img {
	object-fit: cover;
	box-sizing: border-box;
	width: 100%;
	max-height: 100%;
	border: 5px solid white;
}
#cv-me p {
	font-size: .8rem;
	margin: auto 10px;
	align-self: center;
}

#work { grid-area: work; }
#education { grid-area: educ; }
#skills { grid-area: skil; }
.resume-list { margin: 10px; max-width: 100%; }
#cv .grid-wrapper {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"work educ"
		"skil educ"
	;
}
#cv div .resume-list { margin-left: 20px; margin-right: 20px; }
#cv .description {
	font-size: .8rem;
	margin-top: 5px;
	margin-bottom: 5px;
}
#cv .location {
	font-size: .6rem;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}
#cv .time-period { font-size: .6rem; }
#cv .inst-title { margin: 5px auto 5px auto; }

.triangle { }
.square { width: 100px; height: 100px; background: #ffffff; }
.circle {}

@media screen and (max-width: 499px) {
	h1, h2 { font-size: 1.2rem; }
	#cv { width: inherit; margin-top: 30px; border: hidden; padding: 0px; }
	#cv-me { grid-template-rows: repeat(3, 25px); }
	#cv-me img { width: 70px; height: auto; }
	#cv-me p { font-size: .6rem; }
	#cv .grid-wrapper { display: block; max-width: auto; overflow-x: scroll; }
	#underline { width: 17rem; top: 71px; left: 0px; }
	#lolnerd { top: 100px; left: 1px; transform: rotate(30deg); }
	#gallery .gallery-wrapper {
		grid-template-columns: repeat(3, calc(100vw / 3));
		grid-template-rows: repeat(3, calc(100vw / 3));
	}
}