body {
	background-color: #232323;
	color: #ffffff;
	font-family: 'Source Code Pro';
}

#pres {
	display: block;
	width: 400px;
	height: 200px;
	margin: auto;
	font-size: 14px;
	text-align: center;
}

#pres h1 {
	font-size: 16px;
	font-weight: normal;
}

#img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
}

#img img {
	display: block;
	border-radius: 25px;
	border: 0.5px solid black;
	width: 95px;
	height: 95px;
}

#links {
  font-size: 13px;
	display: block;
	width: auto;
	margin: auto;
	text-align: center;
}

#links li { 
	display: inline-block;
	padding: 10px 15px 18px 15px
}

a {
	color: #ef9500;
}

a:hover {
	color: #ab7300;
}
