body {
	font-family: 'Source Code Pro'; 
	background-color: #232323;
	color: #ffffff;
}

#title {
	text-align: center;
	padding-top: 50 px;
}

#img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
}

#img img {
	display: block;
	border-radius: 25px;
	border: 0.5px solid black;
	width: 95px;
	height: 95px;
}

#links {
	font-size: 13px;
	display: block;
	width: auto;
	margin: auto;
	text-align: center;
}

#links li {
	display: inline-block;
	padding: 0px 15px 18px 15px
}

#links:after {
    content: "";
    display: block;
    text-align: center;
    height: 1px;
    margin-top: 10px;
    margin-right: 44%;
    margin-left:	44%;
    background-color: #aaa;
}

a {
	color: #ef9500;
}

a:hover {
	color: #ab7300;
}

#articles ul li:after {
    content: "";
    display: block;
    text-align: center;
    height: 1px;
    margin-top: 20px;
    margin-right: 40%;
    margin-left:	40%;
    background-color: #232323;
}

h1 {
	font-weight: 200;
}

p {
	font-size: 17px;
	font-weight: 200;
}

#articles {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 200;
	margin-top: 20px;
	margin-right: 20%;
	margin-left: 20%;
	text-align: center;
}

#articles ul {
	display: block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#articles a {
	text-decoration: none;
}

article {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-weight: 200;
	color: #ffffff;
	text-align: center;
	margin-right: 20%;
	margin-left: 20%;
}

article:after {
	content: "";
	display: block;
	text-align: center;
	height: 1px;
	margin-top: 15px;
	margin-right: 40%;
	margin-left:	40%;
	margin-bottom: 30px;
	background: #232323;
}

#media {
	margin-top: 20px;
}

#media ul {
	list-style: none;
}

#media li {
	padding-top: 10px;
	padding-bottom: 10px;
}
